*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* header */

#site-header{
    padding: .5rem;
}

.d-flex{
    display: flex;
}

.logo,.menu,.login{
    align-self: center;
    padding: .5rem;
}

.menu>.links{
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu li{
    padding-right: 1.5rem;
}

.login{
    display: flex;
    justify-content: flex-end;
}

/* main */

.main-infos{
    margin: auto;
}



/* Utility */

.container{
    width: 70%;
    max-width: 1152px;
    margin: auto;
}

.site-main>section{
    padding: 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-2{
    width: calc((100% / 12) * 2);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-5{
    width: calc((100% / 12) * 5);
}

.col-7{
    width: calc((100% / 12) * 7);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-10{
    width: calc((100% / 12) * 10);
}

/* Debug */
.debug header{
    background-color: #add8e6;
}


.debug .d-flex{
    background-color: #d9a41f;
}

[class*="col-"]{
    border: 1px dashed black;
}

.debug .main-section{
    background-color: #00008b;
}

.debug .main-infos{
    background-color: #ee82ee;
}

.debug main [class*="col-"]{
    height: 20rem;
}

.debug .conforts{
    background-color: #d3d3d3;
}

.debug main .col-8{
    background-color: #1e90ff;
}

.debug .col-4{
    background-color: #ffc0cb;
}